body {
	margin:0;
	padding: 0;
	font-family: segoe UI;
}
header{
	margin: 0;
	margin-top: 0;
	background:linear-gradient(rgba(30,144, 255,0.6),rgba(30,144, 255,0.2)),url(img/header.jpg);
	background-size: cover;
	background-position: center;
	box-shadow: 3px 2px 8px 2px rgba(0,0,0,0.75);
	height: 50vh;
	color:white;
}	
h1 {
	color: white;
}
.h1lien {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	background-color: black;
	opacity: .7;
	padding: 0;
	margin: 0;
	}
.h1lien a {
	text-decoration: none;
	color: white;
	padding: 5px;
}
.h1lien a:hover{
	border: solid #008ae6 3px;
	transition: all .3s;
}
article{

	background: #515f67;
}
.boitearticle {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	line-height: 130px;
}
.webdev {
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	text-shadow: 0 5px 10px rgba(0,0,0,1);
	margin-top: 50px;
	font-size: 3em;
	color: white;
	opacity: .9;
	text-decoration: none;
}
.webdev a{
	text-decoration: none;
	color: white;
}
.webdev a:hover{
	color: #008ae6;
	transition: all .3s;
	
}
.logoweb{
	 padding-bottom:80px;

}
.logoweb i{
	
	border: solid 3px;
	font-size: 30px;
	height: 60px;
	width: 60px;
    text-align: center;
    line-height: 60px;
    margin: 10px;
    color: white;
    opacity: .9;

}
.logoweb i:hover{
	border: solid #008ae6 3px;
	transition: all .3s;
}

.logoinpulsa{
	display: flex;
	justify-content: center;
}
.logoinpulsa img{
	height: 300px;
	color: white;
	opacity: .8;
	
}


footer {
	margin: 0;
	margin-top: 0;
	background:url(img/footer.jpg);
	background-size: cover;
	background-position: center;
	opacity: .9;
	box-shadow: 3px 2px 8px 2px rgba(0,0,0,0.75);
	height: 50vh;
	color:white;
}
.boitefooter{
	display: flex;
	justify-content: center;
	line-height: 200px;
	height: 50vh;

}
.footer{
	top: 500px;
}
.logoreseaux{
	display: flex;
	justify-content: center;
	align-items: center;
}
.logoreseaux i{
	
	border: solid 3px;
	font-size: 30px;
	height: 60px;
	width: 60px;
    text-align: center;
    line-height: 60px;
    margin: 10px;
    color: white;
   
}
.logoreseaux i:hover{
	border: solid #008ae6 3px;
	transition: all .3s;
} 
.copyright{
	height: 15vh;
	background: black;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.copyright p{
	
	
}

